h1, h3 {
  text-align: center;
}

ul#todo-list {
  list-style-type: none;
  padding: 0;
}

li.editing {
  display: none;
}

.completed {
  color: firebrick;
  text-decoration: line-through;
}

.section {
  margin-left: 640px;
}

.message {
  color: red;
}